body{background-color:#8ACDFF;}

header{
    align-items: center;}

li{
  margin-bottom: 1em;
  list-style: none;
  padding: 0;}

main{
  background-color:red;  
  padding: 20px;
  text-align: center;}

ul{
  list-style: none;
  padding: 0;}

h1{
  margin-bottom: 1em;}

p{
  margin:1em;}

a {
  text-decoration: none;}
